---
import "../styles/global.css";
import { LandingPage } from "@/components/LandingPage";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="icon" href="/favicon.ico" />
    <meta name="generator" content={Astro.generator} />
    <title>AM FINTRASS - Close Your Books Faster</title>
    <meta
      name="description"
      content="Smart accounting built for growing businesses. Import bank statements via CSV, categorize transactions, and get up‑to‑date cash flow and profit insights."
    />
  </head>

  <body>
    <LandingPage client:load />
  </body>
</html>
